// about section on home page
.about {
  background-color: white;
  padding: 0px;
  @media screen and (min-width: $tablet) {
    padding: 10px 20px;
  }
  &__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: space-evenly;
  }
  &__column:nth-child(2) {
    text-align: center;
  }
}

// about page
