// Breakpoints
// xSmall phone
$xs-mobile: 300px;

// Small tablets and large smartphones (landscape view)
$mobile: 576px;

// Small tablets (portrait view)
$tablet: 768px;

// Tablets and small desktops
$desktop: 992px;

// Large tablets and desktops
$large-desktop: 1440px;

// xl desktop
$xlarge-desktop: 1900px;
