// Variables
$knockout: "Knockout-Sumo", sans-serif;
$montserrat: "Montserrat", sans-serif;
$dm-sans: "DM Sans", sans-serif;

// Colors
$light-gray-bg: #f5f5f5;
$green: #4db28e;
$ivory: #eeedeb;
$gray-bg: #f5f5f5;
$sunnyd-seltzers-blue: #25aae0;
$funfetti-pink: #d0277f;
$honeygo-blue: #1952a2;
$cdt-green: #7f918b;
$litoplas-blue: #49aae0;
// Global Styles
* {
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;

  background-color: white;
}
.container {
  width: 100%;
  &__inner {
    max-width: 95%;
    margin: 0 auto;
  }
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}
hr {
  width: 70px;
  @media screen and (min-width: $tablet) {
    width: 120px;
  }
  @media screen and (min-width: $desktop) {
    width: 180px;
  }
}

.project-pages {
  .container {
    width: 100%;
    &__inner {
      max-width: 95%;
      // padding: 0 10%;
    }
  }
}
