// Variables
$font-primary: "Kolleltif", sans-serif;
// Global Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: $font-primary;
  letter-spacing: 2px;
}
