// Variables
$knockout: "Knockout-Sumo", sans-serif;
$dm-sans: "DM Sans", sans-serif;

// Colors
$sunnyd-seltzers-blue: #25aae0;
// Global Styles
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  margin: 0;
}
section {
  margin-top: 50px;
}
.container {
  width: 100%;
  &__inner {
    max-width: 80%;
    margin: 0 auto;
  }
}

.project-pages {
  .container {
    width: 100%;
    &__inner {
      max-width: 95%;
      // padding: 0 10%;
    }
  }
}
