.home {
  &__main-container {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__main-column:nth-child(1) {
    background-color: $light-gray-bg;
  }
  &__main-column:nth-child(2) {
    background-color: $green;
  }
  .top-statement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    div:nth-child(2) h2 {
      color: $ivory;
    }
    h2 {
      white-space: nowrap;
    }
  }
  &__main-content {
    .wrapper {
      align-items: center;
      //   display: flex;
      display: grid;
      grid-template-columns: 2fr 1fr;
      height: 65vh;
      @media screen and (min-width: $mobile) {
        height: 100vh;
      }
    }
  }
  .wrapper:nth-child(1) {
    position: relative;
  }

  .self-portrait-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  #self-portrait {
    // transform: translateY(-14px);

    width: 286px;
    height: 373px;
    // width: 301px;
    // height: 393px;
    @media screen and (min-width: $mobile) {
      //   transform: translateY(104px);
      width: 364px;
      height: 475px;
    }
    @media screen and (min-width: $desktop) {
      //   transform: translateY(69px);
      width: 416px;
      height: 543px;
    }
    @media screen and (min-width: $large-desktop) {
      //   transform: translateY(69px);
      width: 532px;
      height: 695px;
    }
    @media screen and (min-width: $xlarge-desktop) {
      //   transform: translateY(69px);
      width: 699px;
      height: 912px;
    }
  }
}

#projects {
  background-color: white;
}
