.home {
  &__main-container {
    display: grid;
    grid-template-columns: 1fr;

    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__main-column:nth-child(1) {
    background-color: $light-gray-bg;
  }
  &__main-column:nth-child(2) {
    background-color: $green;
  }
  .top-statement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    div:nth-child(2) h2 {
      color: $ivory;
    }
    h2 {
      white-space: nowrap;
    }
  }
  #developer {
    margin-left: 5px;
    @media screen and (min-width: $tablet) {
      margin-left: 20px;
    }
  }
  #designer {
    margin-right: 5px;
    @media screen and (min-width: $tablet) {
      margin-right: 20px;
    }
  }
  &__main-content {
    .wrapper {
      align-items: center;
      //   display: flex;
      display: grid;
      grid-template-columns: 2fr 1fr;
      height: 65vh;
  
      @media screen and (min-width: $mobile) {
        height: 100vh;
      }
    }
  }
  .wrapper:nth-child(1) {
    // position: relative;
  }

  .self-portrait-container {
    // position: absolute;
    // bottom: -4px;
    // right: 0;
    @media screen and (min-width: 1045px) {
      margin-right: 100px;
    }
  }
  #self-portrait {
    width: 300px;
    height: auto;
    // @media screen and (min-width: $mobile) {
    //   width: 340px;
    // }
    // @media screen and (min-width: $desktop) {
    //   width: 460px;
    //   //   height: 588px;
    // }
    // @media screen and (min-width: $large-desktop) {
    //   width: 520px;
    //   //   height: 638px;
    // }
    // @media screen and (min-width: $xlarge-desktop) {
    //   width: 700px;
    //   //   height: 838px;
    // }
  }
}

#projects {
  background-color: white;
}

#swipe-more {
  display: block;
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
