.topbar {
  &__back {
    background-color: transparent;
    // margin: 20px 20px;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: black;
    }
    .back-arrow {
      width: 30px;
      height: 30px;
    }
  }
}
.projects {
  margin-top: 50px;
  &__container {
    display: grid;
    grid-template-columns: 1fr;
    @media screen and (min-width: $desktop) {
      grid-template-columns: 1fr 2fr;
    }
  }
  &__image-container {
    display: block;
    margin: 29px;
    overflow-y: scroll;
    border: solid 2px black;
    max-height: 230px;
    @media screen and (min-width: $xlarge-desktop) {
      max-height: 600px;
    }
  }
  &__image {
    max-width: 100%;
  }
  &__column {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  @media screen and (max-width: $desktop) {
    &__column:nth-child(1) {
      order: 2;
    }
    &__column:nth-child(2) {
      order: 1;
    }
  }

  hr {
    width: 200px;
    @media screen and (min-width: $tablet) {
      width: 300px;
    }
    @media screen and (min-width: $desktop) {
      width: 450px;
    }
  }
  .design {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
  .color-pallete {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: $mobile) {
      flex-direction: row;
    }
    ul.color-pallete {
      display: flex;
      gap: 30px;
      flex-direction: row;
    }
    ul.color-pallete li {
      border: solid black 1px;
      width: 100px;
      height: 120px;
      &:nth-child(1) {
        margin-top: 5px;
      }
      &:nth-child(2) {
        margin-top: 45px;
      }
      &:nth-child(3) {
        margin-top: 85px;
      }
    }
  }
  .logo-evolution {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 45px;
  }
  .gif {
    width: 200px;
  }
  .before-after {
    h1 {
      text-align: center;
    }
    &__image-container {
      display: flex;
      justify-content: center;
      img {
        border: 2px solid black;
        width: 300px;
        @media screen and (min-width: $mobile) {
          width: 450px;
        }
        @media screen and (min-width: $tablet) {
          width: 600px;
        }
      }
    }
  }
}
// Page Specific
.sunnyd-seltzers {
  .responsive {
    display: flex;
    flex-direction: column;
  }
  video {
    border: solid black 2px;
  }
}
.honeygo {
  ul.color-pallete li:nth-child(1) {
    background: #37a3ab;
  }
  ul.color-pallete li:nth-child(2) {
    background: $honeygo-blue;
  }
  ul.color-pallete li:nth-child(3) {
    background: #e89758;
  }
  .honeygo-logo {
    max-width: 250px;
  }
}
.cdt-weddings {
  ul.color-pallete li:nth-child(1) {
    background: $cdt-green;
  }
  ul.color-pallete li:nth-child(2) {
    background: #eeedeb;
  }
  ul.color-pallete li:nth-child(3) {
    background: #6f878e;
  }
}

.cdt-weddings {
  ul.color-pallete li:nth-child(1) {
    background: $cdt-green;
  }
  ul.color-pallete li:nth-child(2) {
    background: #eeedeb;
  }
  ul.color-pallete li:nth-child(3) {
    background: #6f878e;
  }
}

.litoplas {
  ul.color-pallete li:nth-child(1) {
    background: $cdt-green;
  }
  ul.color-pallete li:nth-child(2) {
    background: #eeedeb;
  }
  ul.color-pallete li:nth-child(3) {
    background: #6f878e;
  }
}
