.intro {
  background-image: url("../images/gradient-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
}
.test {
  display: grid;
  grid-template-columns: 1fr;
  @media screen and (max-width: $xs-mobile) {
    padding-left: 15%;
  }
  @media screen and (min-width: $mobile) {
    grid-template-columns: 2fr 1fr;
  }
}
