.nav {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 40%;
  z-index: 1099;
  @media screen and (min-width: $tablet) {
    width: 80%;
  }
  &__list {
    list-style-type: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    gap: 20px;
    display: none;
    &.openSocials {
      display: flex;
    }
    &.openPages {
      display: flex;
    }
  }
  li {
    font-family: $knockout;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
  a {
    color: #000;
    text-decoration: none;
  }
}

.plus-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.nav-pages li a {
  color: $ivory;
  &:hover {
    text-decoration: underline $ivory;
  }
}
