.nav {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 40%;
  z-index: 1099;
  position: relative;
  height: 300px;
  @media screen and (min-width: $tablet) {
    width: 80%;
  }
  &__list {
    list-style-type: none;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    gap: 20px;
    display: flex;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    &.openSocials,
    &.openPages {
      opacity: 1;
    }
  }

  li {
    font-family: $knockout;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
      text-decoration: underline $black wavy;
    }
  }
  a {
    color: $black;
    text-decoration: none;
  }
}

.plus-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.nav-pages li a {
  color: $ivory;
  &:hover {
    text-decoration: underline $ivory wavy;
  }
}
