header {
  margin-top: 50px;
}
.top-bar {
  width: 100%;
  top: 0;
  padding: 18px;
  background: #fff;
  font-size: 1.2em;
  text-align: left;
  color: #000;
  &__wrap {
    display: flex;
    justify-content: space-between;
    padding: 0;
    // align-items: flex-start;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    flex-direction: row;
    gap: 5px;
    transform: scale(75%);
    @media screen and (min-width: $mobile) {
      //   flex-direction: row;
      //   align-items: center;
      //   gap: 0;
      //   transform: scale(-10%);
      padding: 0 5%;
      transform: scale(100%);
    }
  }
  hr {
    width: 70px;
    @media screen and (min-width: $tablet) {
      width: 120px;
    }
    @media screen and (min-width: $desktop) {
      width: 180px;
    }
  }
}

.topbar {
  &__back {
    background-color: blue;
    margin: 20px 20px;
    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: black;
    }
    img {
      width: 30px;
      height: 30px;
    }
  }
}
