// Google Fonts

@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

@font-face {
  font-family: "Knockout-Sumo";
  src: url("../fonts/Knockout-Sumo.woff2") format("woff2");
}

h1 {
  animation: marquee 25s linear infinite running;
  font-family: $dm-sans;
  text-transform: uppercase;
  font-weight: 400;

  font-size: 36px;
  @media screen and (min-width: $tablet) {
    font-size: 46px;
  }
}
h1 span {
  font-family: $knockout;
}

h2 {
  font-family: $knockout;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  white-space: nowrap;
  @media screen and (min-width: $tablet) {
    font-size: 16px;
  }
  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }
}

p {
  font-family: $dm-sans;
  text-transform: lowercase;
  margin: 10px 0;
}

// verrtical text
.vertical {
  text-orientation: upright;
  writing-mode: vertical-lr;
}
.bio {
  font-size: 26px;
  @media screen and (min-width: $tablet) {
    font-size: 36px;
  }
}
