@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: white;
}

.container {
  width: 100%;
}

.container__inner {
  max-width: 95%;
  margin: 0 auto;
  padding-bottom: 35px;
}

.hidden {
  display: none;
}

ul {
  list-style-type: none;
}

hr {
  width: 70px;
}

@media screen and (min-width: 768px) {
  hr {
    width: 120px;
  }
}

@media screen and (min-width: 992px) {
  hr {
    width: 180px;
  }
}

.project-pages .container {
  width: 100%;
}

.project-pages .container__inner {
  max-width: 95%;
}

@font-face {
  font-family: "Knockout-Sumo";
  src: url("../fonts/Knockout-Sumo.woff2") format("woff2");
}

h1 {
  -webkit-animation: marquee 25s linear infinite running;
          animation: marquee 25s linear infinite running;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 36px;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 46px;
  }
}

h1 span {
  font-family: "Knockout-Sumo", sans-serif;
}

h2 {
  font-family: "Knockout-Sumo", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

p {
  font-family: "Montserrat", sans-serif;
  margin: 10px 0;
}

.vertical {
  text-orientation: upright;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
}

.bio {
  font-size: 26px;
}

@media screen and (min-width: 768px) {
  .bio {
    font-size: 36px;
  }
}

.projects h1,
.projects h2,
.projects p {
  text-align: center;
}

@media screen and (min-width: 992px) {
  .projects h1,
  .projects h2,
  .projects p {
    text-align: left;
  }
}

#main-header {
  font-family: "Knockout-Sumo", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  font-weight: 400;
  color: #eeedeb;
}

@media screen and (min-width: 768px) {
  #main-header {
    font-size: 28px;
  }
}

.home__main-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 768px) {
  .home__main-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.home__main-column:nth-child(1) {
  background-color: #f5f5f5;
}

.home__main-column:nth-child(2) {
  background-color: #4db28e;
}

.home .top-statement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .top-statement div:nth-child(2) h2 {
  color: #eeedeb;
}

.home .top-statement h2 {
  white-space: nowrap;
}

.home #developer {
  margin-left: 5px;
}

@media screen and (min-width: 768px) {
  .home #developer {
    margin-left: 20px;
  }
}

.home #designer {
  margin-right: 5px;
}

@media screen and (min-width: 768px) {
  .home #designer {
    margin-right: 20px;
  }
}

.home__main-content .wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  height: 65vh;
}

@media screen and (min-width: 576px) {
  .home__main-content .wrapper {
    height: 100vh;
  }
}

@media screen and (min-width: 1045px) {
  .home .self-portrait-container {
    margin-right: 100px;
  }
}

.home #self-portrait {
  width: 300px;
  height: auto;
}

#projects {
  background-color: white;
}

#swipe-more {
  display: block;
}

@media screen and (min-width: 768px) {
  #swipe-more {
    display: none;
  }
}

.nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  z-index: 1099;
  position: relative;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .nav {
    width: 80%;
  }
}

.nav__list {
  list-style-type: none;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: mixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  display: none;
}

.nav__list.openSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list.openPages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav li {
  font-family: "Knockout-Sumo", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.nav li:hover {
  text-decoration: underline;
}

.nav a {
  color: #000;
  text-decoration: none;
}

.plus-icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.nav-pages li a {
  color: #eeedeb;
}

.nav-pages li a:hover {
  -webkit-text-decoration: underline #eeedeb;
          text-decoration: underline #eeedeb;
}

.main__landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.hero-image__container {
  position: relative;
}

.hero-image__box {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  width: auto;
  padding: 5%;
  background-color: #fff;
}

@media screen and (min-width: 830px) {
  .hero-image__box {
    width: 50%;
  }
}

.hero-image__container img {
  min-height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
  height: 500px;
}

@media screen and (min-width: 1900px) {
  .hero-image__container img {
    height: 800px;
  }
}

.button {
  background-color: white;
  border: black 2px solid;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 18px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 16px;
  }
}

.button--home {
  background-color: #4db28e;
  border: #eeedeb 2px solid !important;
  color: #eeedeb !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 200px;
  margin: 0 auto;
}

.button--home:hover {
  background-color: #F05F34;
}

.button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  color: #F05F34;
  border: #F05F34 2px solid;
}

#button-projects-grid-view {
  margin-left: 10px;
}

.about-section {
  background-color: #f5f5f5;
  padding: 50px 10px;
}

.about-section__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
      grid-template-columns: 2fr 3fr;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-section__column:nth-child(2) {
  text-align: center;
}

.about {
  background-color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  width: 100%;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .about {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.about__column:nth-child(1) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .about__column:nth-child(1) {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 992px) {
  .about__column:nth-child(1) {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

.about__column:nth-child(1) img {
  border: 2px solid #f5f5f5;
  max-width: 100%;
}

.about__column:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.about a {
  color: #4db28e;
}

.swiper-slide img {
  border: 2px solid black;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  top: 38% !important;
}

@media screen and (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

.swiper-all-projects .swiper {
  width: 100%;
  height: 100%;
}

.swiper-all-projects .swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-all-projects .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .swiper-all-projects .swiper-slide img {
    width: 70%;
    height: 70%;
  }
}

.swiper-about .swiper-wrapper {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.swiper-about .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-about .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.marquee {
  height: 150px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}

.marquee h1 {
  font-family: "DM Sans", sans-serif;
  white-space: nowrap;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 90px;
  text-align: center;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-animation: scroll-left 1s linear infinite;
  animation: scroll-left 15s linear infinite;
  color: #4db28e;
  -webkit-text-fill-color: white;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #4db28e;
  font-weight: 600;
  font-size: 66px;
}

@media screen and (min-width: 768px) {
  .marquee h1 {
    font-size: 76px;
  }
}

@-webkit-keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes scroll-left {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.sunnyd-seltzers .marquee h1 {
  width: 70%;
  color: #25aae0;
  -webkit-text-stroke-color: #25aae0;
}

.funfetti .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #d0277f;
  color: #d0277f;
}

.honeygo .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #1952a2;
  color: #1952a2;
}

.cdt-weddings .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #7f918b;
  color: #7f918b;
}

.litoplas .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #49aae0;
  color: #49aae0;
}

.white-lily .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #3A7E4C;
  color: #3A7E4C;
}

.martha-white .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #B33B40;
  color: #B33B40;
}

.broad-city .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #8549F1;
  color: #8549F1;
}

.dance-party .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #BE99B1;
  color: #BE99B1;
}

.tip-calc .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #2C2E5C;
  color: #2C2E5C;
}

.fireside .marquee h1 {
  width: 70%;
  -webkit-text-stroke-color: #eb652a;
  color: #eb652a;
}

.topbar__back {
  background-color: transparent;
}

.topbar__back a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.topbar__back .back-arrow {
  width: 30px;
  height: 30px;
}

.projects {
  margin-top: 50px;
}

.projects__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 992px) {
  .projects__container {
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
  }
}

.projects__image-container {
  display: block;
  margin: 29px;
  overflow-y: scroll;
  border: solid 2px black;
  max-height: 230px;
}

@media screen and (min-width: 768px) {
  .projects__image-container {
    max-height: 400px;
  }
}

@media screen and (min-width: 1900px) {
  .projects__image-container {
    max-height: 600px;
  }
}

.projects__image {
  max-width: 100%;
}

.projects__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

@media screen and (max-width: 992px) {
  .projects__column:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .projects__column:nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.projects hr {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .projects hr {
    width: 300px;
  }
}

@media screen and (min-width: 992px) {
  .projects hr {
    width: 450px;
  }
}

.projects .design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 992px) {
  .projects .design {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.projects .color-pallete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 576px) {
  .projects .color-pallete {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.projects .color-pallete ul.color-pallete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.projects .color-pallete ul.color-pallete li {
  border: solid black 1px;
  width: 100px;
  height: 120px;
}

.projects .color-pallete ul.color-pallete li:nth-child(1) {
  margin-top: 5px;
}

.projects .color-pallete ul.color-pallete li:nth-child(2) {
  margin-top: 45px;
}

.projects .color-pallete ul.color-pallete li:nth-child(3) {
  margin-top: 85px;
}

.projects .logo-evolution {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45px;
}

.projects .gif {
  width: 200px;
}

.projects .before-after h1 {
  text-align: center;
}

.projects .before-after__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects .before-after__image-container img {
  border: 2px solid black;
  width: 300px;
}

@media screen and (min-width: 576px) {
  .projects .before-after__image-container img {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .projects .before-after__image-container img {
    width: 600px;
  }
}

.sunnyd-seltzers .responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sunnyd-seltzers video {
  border: solid black 2px;
}

.honeygo ul.color-pallete li:nth-child(1) {
  background: #37a3ab;
}

.honeygo ul.color-pallete li:nth-child(2) {
  background: #1952a2;
}

.honeygo ul.color-pallete li:nth-child(3) {
  background: #e89758;
}

.honeygo .honeygo-logo {
  max-width: 250px;
}

.cdt-weddings ul.color-pallete li:nth-child(1) {
  background: #7f918b;
}

.cdt-weddings ul.color-pallete li:nth-child(2) {
  background: #eeedeb;
}

.cdt-weddings ul.color-pallete li:nth-child(3) {
  background: #6f878e;
}

.cdt-weddings ul.color-pallete li:nth-child(1) {
  background: #7f918b;
}

.cdt-weddings ul.color-pallete li:nth-child(2) {
  background: #eeedeb;
}

.cdt-weddings ul.color-pallete li:nth-child(3) {
  background: #6f878e;
}

.litoplas ul.color-pallete li:nth-child(1) {
  background: #49aae0;
}

.litoplas ul.color-pallete li:nth-child(2) {
  background: #f4f6fc;
}

.litoplas ul.color-pallete li:nth-child(3) {
  background: #6f7b8f;
}

.broad-city .project-video, .dance-party .project-video {
  width: 100%;
  height: 100%;
}

.contact {
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 768px) {
  .contact {
    padding: 50px 20px;
  }
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.contact__info img {
  width: 35px;
  height: 35px;
}

.contact a {
  color: black;
  text-decoration: none;
}

.svg-waves-container {
  position: relative;
}

.custom-shape-divider-bottom-1684365769 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  background-color: #f5f5f5;
}

.custom-shape-divider-bottom-1684365769 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 120px;
}

.custom-shape-divider-bottom-1684365769 .shape-fill {
  fill: #4db28e;
}

.footer {
  margin-top: 110px;
  background-color: #4db28e;
}

.title-word {
  -webkit-animation: color-animation 4s linear infinite;
          animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.title-word-2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}

.title-word-3 {
  --color-1: #accfcb;
  --color-2: #e4a9a8;
  --color-3: #accfcb;
}

@-webkit-keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

/* Here are just some visual styles. 🖌 */
.made-with-love {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 18px;
  font-family: "Knockout-Sumo", sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.copyright {
  font-size: 12px;
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */